<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>pk Login</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section class="loginform cf">
		<form name="login" action="login" method="get" accept-charset="utf-8">
			<ul>
				<li>
					<label for="usermail">Имя пользователя</label>
					<input type="text" name="username" required>
				</li>
				<li>
					<label for="password">Пароль</label>
					<input type="password" name="password" required></li>
				<li>
					<input type="submit" value="Войти">
				</li>
			</ul>
		</form>
	</section>
</body>
</html>
